<div class="indent">
  <% if rule_type != 'Rule' %><h3 class="eb-v1-card-header"><%= rule_type.pluralize %></h3><% end %>
  <% linked_rules.each do |linked_rule| %>
    <div class="indent">
      <strong><%= link_to_if clickable, linked_rule.rule.name, "#{entitybuilder.polymorphic_path(entity)}/linked_rules/#{linked_rule.id}", "data-reveal-id" => "linked_rule_modal", :remote => true %><%= " (#{linked_rule.detail})" if linked_rule.detail.present? %></strong>
      <% if linked_rule.rule.short_description.present? %> - <%= linked_rule.rule.short_description %><% end %>
    </div>
  <% end %>
</div>
