<%= form_with model: entity, url: "#{polymorphic_path(entity)}/update_notes", remote: true, builder: ApplicationFormBuilder do |f| %>
  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :notes %>
      <%= f.rich_text_area :notes %>
    </div>
  </div>
<% end %>
