<div id="form_placeholder">
  <fieldset>
    <%= render 'entitybuilder/layouts/tutorial' %>
    <strong>What are class levels?</strong>
    <p>
      A class level denotes advancement in a characters class or career path.
    </p>
  </fieldset>
</div>

<% content_for :footer do %>
  <%= render 'layouts/modal/tutorial' %>
<% end %>
