<h2>
  <%= link_to "<i class='fa fa-cog'></i> ".html_safe, edit_url, class: "iconlink edit" if can_auth %><%= section.header if section.header.present? %>
</h2>

<blockquote>
  <%= sanitize section.content %>
</blockquote>
