<div class="row">
  <div class="small-12 columns">
    <div class="row collapse">
      <label>Coupon</label>
      <div class="small-10 columns">
        <input type="text" size="20" name="coupon" />
      </div>
      <div class="small-2 columns">
        <span class="postfix"><i class='fa fa-ticket'></i></span>
      </div>
    </div>
  </div>
</div>
