
<p>
  When you register for City of Brass, you are given a <b>Free Account</b>. You can use
  this account for as long as you like, and never pay a dime. With a <b>Free Account</b>,
  you get everything you need to play games with your friends, and test drive all
  the great features of City of Brass. At any time, you can upgrade your account
  to a <b>Premium Account</b>, unlocking unlimited access to all City of Brass features.
</p>
<p>
  Use the table below to help decide which account is right for you.
  <%= image_tag "subscription_table.png", style: 'max-width: 640px;' %>
</p>
<p>If you are ready to move to the head of the table and gain <strong>unlimited</strong>
  access to City of Brass, subscribe now for a <strong>Premium Account</strong>!
</p>
<div class="text-center">
  <%= link_to 'Subscribe', billing.new_subscription_path, class: 'button' %>
</div>
