<% unless section.header.blank? %>
<h2><%= section.header %></h2>
<% end %>
<ul>
<% list.each do |record| %>
  <li>
    <h3><%= link_to record.name, tcob_path(record) %></h3>
    <%= record.short_description  %>
  </li>
<% end %>
</ul>
