article.features, article.notables, article.sections {
  section.sidebar {
    background-color: initial;
    padding: 0px;
  }

  a.edit {
    font-size: 1rem important;

    i {
      line-height: 0px;
    }
  }
}
