<div id="show_placeholder">
  <fieldset>
    <div class="row inline text-right">
      <div class="small-12 columns">
        <label class="inline-label-flat">About</label>
      </div>
    </div>
    <strong>Billing Events</strong>
    <p>
      This is where we track incoming stipe events... just in case...
    </p>
  </fieldset>
</div>
