<div class="row">
  <div class="large-8 medium-10 columns small-centered">
    <fieldset style="border-color: #cc0000;">
    <legend style="color:#cc0000;"><i class='header-icon-edit icon-warning'></i> Delete</legend>
    <p>This will permanently delete <strong><%= record.name %></strong> and cannot be undone. Are you sure you want to do this?</p>
    <div class="row">
      <div class="small-12 columns text-center">
        <%= submit_tag 'Delete', class: 'button', data: { confirm: t('.confirm_delete', name: record.name) } %>
      </div>
    </div>
    </fieldset>
  </div>
</div>
