<div class="row">
  <div class="small-12 columns text-center">
    <%= submit_tag 'Save', class: 'button' %>
    <%= submit_tag 'Cancel', class: 'button', onclick: "removeFormModifiers(); return false;" %>
  </div>
</div>
