<% provide(:title, 'Hastur') %>
<br>
<div class="row">
  <div class="medium-8 medium-centered columns">
    <p>
      I found myself faced by names and terms that I had heard elsewhere in the most hideous of connections—Yuggoth, Great Cthulhu, Tsathoggua, Yog-Sothoth, R'lyeh, Nyarlathotep, Azathoth, <strong><a href="https://en.wikipedia.org/wiki/Hastur" target="_hastur">Hastur</a></strong>, Yian, Leng, the Lake of Hali, Bethmoora, the Yellow Sign, L’mur-Kathulos, Bran and the Magnum Innominandum—and was drawn back through nameless aeons and inconceivable dimensions to worlds of elder, outer entity at which the crazed author of the Necronomicon had only guessed in the vaguest way.... There is a whole secret cult of evil men (a man of your mystical erudition will understand me when I link them with Hastur and the Yellow Sign) devoted to the purpose of tracking them down and injuring them on behalf of the monstrous powers from other dimensions.
    </p>
    <p>—H. P. Lovecraft, "<a href="https://en.wikipedia.org/wiki/The_Whisperer_in_Darkness" target="_whisper">The Whisperer in Darkness</a>"</p>
  </div>
</div>

<% content_for :footer do %>
  <script>
    $("body").addClass("hastur");
  </script>
<% end %>
