.handout {
  font-family: "Covered By Your Grace", cursive;
  p {
      font-family: "Covered By Your Grace", cursive;
      font-size: 1.25rem;
    }
  ul {
      font-family: "Covered By Your Grace", cursive;
      font-size: 1.25rem;
    }
  h1, h2, h3, h4, h5, h6 {
      font-family: "Covered By Your Grace", cursive !important;
    }
}
