<div id="imageModal" class="reveal-modal" data-reveal>
  <div style="max-width: 100%;">
    <div id="image_placeholder">
      <%= render 'layouts/page_loading' %>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
