<div id="sheetModal" class="reveal-modal medium" data-reveal>
  <div>
    <div class="reveal-modal-scroll">
      <span id="show_placeholder">
        <%= render 'layouts/page_loading' %>
      </span>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
