<div id="thumbModalDesc" class="reveal-modal" data-reveal>
  <div>
    <div class="reveal-modal-scroll">
      <%= sanitize desc %>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
