<div id="showModal" class="reveal-modal" data-reveal>
  <div>
    <div class="reveal-modal-scroll">
      <div id="show_placeholder">
        <%= render 'layouts/page_loading' %>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
