<div id="trackableModal" class="reveal-modal tiny" data-reveal>
  <div>
    <span id="form_placeholder">
      <%= render 'layouts/page_loading' %>
    </span>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
