<div class="terms_full">
  <h2>Our Philosophy</h2>
  <p>We believe in privacy, and we think that you should be able to use the Internet without sacrificing your privacy. That's why we collect and store only what is essential to bring this service to you. </p>
  <h2>Registration</h2>
  <p>Most of what you will do on City of Brass will require that you register an account. During registration we will collect what personal data we require. </p>
  <h2>What do we collect from you?</h2>
  <p>Your email address. </p>
  <p>We need a valid email for account administration purposes such as password resets or billing alerts. We won't use your email address for marketing purposes and we certainly won't share it with anyone. In fact, we won't use it for any communication beyond account administration.</p>
  <p>If you want us to send you marketing emails and keep you apprised of everything happening at City of Brass join our mailing list which is managed by MailChimp. </p>
  <h2>But I used my real name as my Resident account.</h2>
  <p>You can use a real name for your Resident account if you choose to, but there is no need to do so. Remember, your Resident name is publically visible to anyone that uses City of Brass. </p>
  <h2>A word on cookies.</h2>
  <p>City of Brass requires cookies to function properly. We use the cookies to do things like remember your settings and preferences. We don't do anything else with this information. </p>
  <h2>And Google Analytics.</h2>
  <p>We have Google Analytics running on City of Brass. We don't use this for advertising and we don't try to identify you personally. We just want to know what our traffic patterns look like. </p>
  <h2>And billing.</h2>
  <p>We use Stripe for our billing. We do not capture or store any of your information on our servers. That's all handled by Stripe. </p>
  <h2>Contacting Us</h2>
  <p>You can get in touch with us anytime.</p>

  <h3>Email</h3>
  <P><%= mail_to "lucas@embersds.com" %></p>

  <h3>Mail</h3>
  <p>
    P.O. Box 361<br>
    Freeland, MI 48623<br>
    United States
  </p>
</div>
