<p><b>Effective Date:</b> February 24, 2014</p>

<p>Welcome to City of Brass website. Please read this agreement carefully before accessing or using the website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. . If you do not agree to all the terms and conditions of this agreement, then you may not access the web site or use any services. The Website is available only to individuals who are at least 13 years old.</p>

<p>By visiting City of Brass website, which is located at <a href="http://<%= ENV["DEFAULT_BASE_URL"] %>/"><%= ENV["DEFAULT_BASE_URL"] %></a> (the "Website") and using any City of Brass products (the "Service" or "Services") you signify your agreement to these terms (the "Terms"). The Website is owned and operated by Embers Design Studios LLC ("Embers") and is offered subject to your acceptance without modification of all of the terms and conditions contained herein.</p>

<p>Embers reserves the right to modify the Terms at any time. Any such revision will be binding and effectively immediately upon posting the revised Terms on our Website. Your continued use of the Service constitutes agreement to any revision of the Terms.</p>

<h3>1. SERVICES</h3>

<p>Embers provides you access and use of the Services through the Website. As part of the Service you may make (or allow any third party to) create, upload, embed, link to or otherwise utilize content including documents, pages, files, text, images, videos or any other medium (collectively the "Content").</p>

<h4>1.1 Your Responsibilities</h4>

<p>If you use the Service to create or distribute Content, you warrant that you have an uncontested legal right to use the Content in the manner by which you do so.</p>

<p>You are solely and entirely responsible for the Content you use and assume all risk for the Content you use. Furthermore, you agree to indemnify, defend and hold harmless Embers from any and all claims, actions, damages, losses and liabilities arising out of or caused by your use of Content.</p>

<p>By making Content available, you represent and warrant that:</p>

<ul>
  <li>the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;</li>
  <li>you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;</li>
  <li>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>
  <li>the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>
  <li>the Content is not pornographic, does not contain threats or incite violence, and does not violate the privacy or publicity rights of any third party;</li>
</ul>

<h4>1.2. Content Ownership</h4>

<p>You retain ownership and all rights to your Content.</p>

<h4>1.3. Content Usage</h4>

<p>While your Content resides on the Website, you grant Embers a world-wide, royalty-free, and non-exclusive license to publish the Content for the sole purpose of displaying, distributing, and promoting the Content, the Service and the Website.</p>

<p>If you delete Content, Embers will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references to the Content may not be made immediately unavailable.</p>

<h4>1.4. Prohibited Content</h4>

<p>Embers reserves the right to prohibit offensive, obscene or otherwise undesirable Content. Embers shall, at its sole discretion, determine if Content is prohibited.</p>

<p>Examples of prohibited Content include:</p>

<ul>
  <li>Content that infringes on the rights of others</li>
  <li>Content that includes viruses or other destructive elements</li>
  <li>Content that is libelous or defamatory</li>
  <li>Content that includes hate speech or racism</li>
  <li>Content that includes pornography and/or adult material</li>
  <li>Content that exploits minors</li>
  <li>Threatening and/or obscene Content</li>
  <li>Content that is generally offensive as determined by Embers at its sole discretion</li>
</ul>

<p>Embers reserves the right, at its sole discretion, to determine Content that constitutes a violation of any part of the Terms and may, at any time, without notice, remove such Content and/or terminate your account for posting material in violation of the Terms.</p>

<h4>1.5. Content Editing</h4>

<p>As part of the Service, you may grant others rights to add, edit, delete or in other ways modify your Content. You agree that Embers has no liability, express or implied, for any changes, deletion, modification, corruption or any other disruption to you or your Content arising from actions by those persons that you have granted access.</p>

<h4>1.6. Look &amp; Feel</h4>

<p>Embers reserves the right to alter, edit, update or in any other fashion change the display of the Website and the Service. Such changes can occur at any time, with or without prior notification. Such changes may alter the manner by which your Content is displayed and/or accessed. Changes of this nature will not change your Content but may change the display and accessibility of your Content. Examples of such changes include altering the style of fonts, headers, tables and other elements within the website and adding, deleting or altering columns and rows to systematically generated content.</p>

<h4>1.7. Service Termination</h4>

<p>Without limiting any of those representations or warranties, Embers has the right (though not the obligation) to, in Embers sole discretion</p>

<ul>
  <li>refuse or remove any content that, in Embers reasonable opinion, violates any Embers policy or is in any way harmful or objectionable, or</li>
  <li>terminate or deny access to and use of the Website and Service to any individual or entity for any reason, in Embers sole discretion.</li>
</ul>

<p>Embers provides the Service to you at its sole discretion and may terminate your use of the Service at any time with our without cause. In the event your account is terminated by Embers without cause, Embers agrees to provide you a pro-rated refund of your Fee and return your Content to you within 60 days of termination.</p>

<h3>2. ACCOUNT</h3>

<p>To utilize the Website and Services you may need to create an account (the "Account"). You are responsible for maintaining the security of your Account and you are fully responsible for all activities that occur under the Account and any other actions taken in connection with the Website and Services.</p>

<p>You may also create a personalized site (the "Site") for display of your Content. You must not describe or assign keywords to your Site in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and Embers may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause Embers liability.</p>

<p>You must immediately notify Embers of any unauthorized uses of your Site, your Account or any other breaches of security. Embers will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>

<h3>3 USE OF THE SERVICE</h3>

<h4>3.1. Acceptable Use</h4>

<p>You agree to use the Service in the manner it is intended to be used.</p>

<p>Further, you agree not to:</p>

<ul>
  <li>Use the Service for any commercial purpose without prior written approval from Embers.</li>
  <li>Use the Service in any fashion that violates the laws of the United States, the state of Michigan or other laws to which you are a party.</li>
  <li>Use the intellectual property of others without their consent and proper legal authority.</li>
  <li>Use the Service for any malicious purpose including, but not limited to, spamming, hacking, griefing, antagonizing, defaming or generally being a nuisance to others.</li>
  <li>Make any attempt to change the Service.</li>
  <li>Upload any pornographic or adult material.</li>
  <li>Circumvent, disable or otherwise interfere with security-related features of the Service or features that prevent or restrict use or copying of any Content or enforce limitations on use of the Service or the Content therein.</li>
</ul>

<h4>3.2. Responsibility of Visitors</h4>

<p>Embers has not reviewed, and cannot review, all of the material posted to the Website, and cannot therefore be responsible for that material"s content, use or effects. By operating the Website, Embers does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.</p>

<p>The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. Embers disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.</p>

<h5>3.2.1. Limitation of Liability arising from Your Use of Content</h5>

<p>You recognize that you may be exposed to Content that is inaccurate, offensive, indecent, or objectionable and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against Embers and agree, to the extent permitted by applicable law, indemnify and hold harmless Embers to the fullest extent allowed by law regarding all matters related to your use of the Service.</p>

<h3>4. COPYRIGHT INFRINGEMENT</h3>

<p>As Embers asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by <%= ENV["DEFAULT_BASE_URL"] %> violates your copyright, you are encouraged to notify Embers in accordance with Ember"s Digital Millennium Copyright Act ("DMCA") Policy. Embers will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. Embers will terminate a visitor"s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Embers or others. In the case of such termination, Embers will have no obligation to provide a refund of any amounts previously paid to Embers.</p>

<h3>5. ATTRIBUTION</h3>

<p>Embers reserves the right to display attribution links such as "Powered by City of Brass" on your Site"s header or footer.</p>

<h3>6. COPYRIGHTS &amp; TRADEMARKS</h3>

<p>The trademarks, names, logos and service marks (collectively "Trademarks") displayed on the Website are registered and unregistered trademarks of Embers. Nothing contained on the Website should be construed as granting any license or right to use any Trademark without the prior written permission of Embers. The written Content displayed on this website is owned by its respective author and may not be reproduced in whole, or in part, without the express written permission of the author.</p>

<h3>7. DISCLAIMER OF WARRANTIES</h3>

<p>The Website is provided "as is". Embers and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Embers nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. If you"re actually reading this, here"s a treat. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.</p>

<h3>8. LIMITATION OF LIABILITY</h3>

<p>In no event will Embers, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for:</p>

<ul>
  <li>any special, incidental or consequential damages;</li>
  <li>the cost of procurement for substitute products or services;</li>
  <li>for interruption of use or loss or corruption of data; or</li>
  <li>for any amounts that exceed the fees paid by you to Embers under this agreement during the twelve (12) month period prior to the cause of action.</li>
</ul>

<p>Embers shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

<h3>9. GENERAL REPRESENTATION AND WARRANTY.</h3>

<p>You represent and warrant that</p>

<ul>
  <li>your use of the Website will be in strict accordance with the Embers Privacy Policy, with these Terms and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and</li>
  <li>your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.</li>
</ul>

<h3>10. INDEMNIFICATION.</h3>

<p>You agree to indemnify and hold harmless Embers, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys" fees, arising out of your use of the Website, including but not limited to:

<ul>
  <li>your use of and access to the Service;</li>
  <li>your violation of any term of these Terms;</li>
  <li>your violation of any third party right, including without limitation any copyright, property, or privacy right; or</li>
  <li>any claim that your Content caused damage to a third party</li>
</ul>

</p>

<p>This defense and indemnification obligation will survive these Terms of Service and your use of the Service.</p>

<h3>11. GOVERNING LAW</h3>

<p>This Agreement shall be governed in all respects by the laws of the United States of America and by the laws of the State of Michigan. Each of the parties irrevocably consents to the exclusive personal jurisdiction of the federal and state courts located in Michigan, as applicable, for any matter arising out of or relating to this Agreement, except that in actions seeking to enforce any order or any judgment of such federal or state courts located in Michigan, such personal jurisdiction shall be nonexclusive.</p>

<h3>12. SEVERABILITY</h3>

<p>Whenever possible, each provision of the Terms will be interpreted in such manner as to be effective and valid under applicable law, but if any provision of the Terms is held to be invalid, illegal, or unenforceable in any respect under any applicable law or rule in any jurisdiction, such invalidity, illegality, or unenforceability will not affect any other provision or any other jurisdiction, but the Terms will be reformed, construed, and enforced in such jurisdiction as if such invalid, illegal, or unenforceable provisions had never been contained herein.</p>

<h3>13. CREATIVE COMMONS SHAREALIKE LICENSE</h3>

<p>These Terms are made available under a Creative Commons Sharealike license and are adapted from those provided by Wordpress.com. This means that you may repurpose them for your own use as you see fit in accordance with the Creative Commons Sharealike license."</p>
