<p>
  Hello <%= @user.email %>,
</p>
<p>
  Your City of Brass trial is ending soon, but don't let that stop you from enjoying all of the great features the City offers.
</p>
<p>
  To avoid interruption, just choose one of our low-cost subscription plans and secure your access today!
</p>
<p style="padding: 10px 0;">
  <a style="text-decoration: none; padding: 7px 12px; margin: 0px; background: #c69633; color: #ffffff;" href="<%= @url %>">Subscribe Now</a>
</p>
