@import "v1/core/base";
@import "foundation_and_overrides";

.alert-box {
  z-index:99;
  position:fixed;
  width:100%;
  border: 0px;
  text-align: center;
  padding: 2px;
  font-size: 1em;
  font-weight: bold;

  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

@media #{$medium-up} {
  .alert-box {
    top:34px;
  }
  .close{
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

@media #{$small-only} {
  .alert-box {
    top:0px;
    min-height: 47px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .close{
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

.alert-box:hover {
  background-color: rgba(0, 0, 0, 0.6);
  a { color: #c69633; }
}

.payment-errors {
  color: red;
}
