<div id="form_placeholder">
  <fieldset>
    <%= render 'entitybuilder/layouts/tutorial' %>
    <strong>What are descriptors?</strong>
    <p>
      Descriptors describe the physical, personality and background traits of a character.  Age, height, alignment and flaws are just a few examples.  Descriptors show up in the character view and not on your character sheet.
    </p>
  </fieldset>
</div>

<% content_for :footer do %>
  <%= render 'layouts/modal/tutorial' %>
<% end %>
