<% style= local_assigns[:hide] ? 'display:none;' : '' %>
<div id="form_placeholder" style=<%= style.html_safe %>>
  <fieldset>
    <div class="row inline text-right">
      <div class="small-12 columns">
        <label class="inline-label-flat">Options</label>
      </div>
    </div>
    <strong><%= link_to "<i class='fa fa-plus-circle'></i> Text".html_safe, "#{tcob_path(@parent_object, 'id')}/sections/new?section_type=text", :remote => true %></strong>
    <p>Standard section with a header and content.</p>
    <strong><%= link_to "<i class='fa fa-plus-circle'></i> Child".html_safe, "#{tcob_path(@parent_object, 'id')}/sections/new?section_type=child", :remote => true %></strong>
    <p>List of children associated current with record.</p>
    <strong><%= link_to "<i class='fa fa-plus-circle'></i> Tag".html_safe, "#{tcob_path(@parent_object, 'id')}/sections/new?section_type=tag", :remote => true %></strong>
    <p>List of records based on the specified tag and record type</p>
  </fieldset>
</div>
