<div id="form_placeholder">
  <fieldset>
    <%= render 'entitybuilder/layouts/tutorial' %>
    <strong>What are caster levels?</strong>
    <p>
      Caster levels specify dc and spells per day for each class of a character or creature.
    </p>
  </fieldset>
</div>

<% content_for :footer do %>
  <%= render 'layouts/modal/tutorial' %>
<% end %>
