<li class="has-submenu"><a href="#"><i class='fa icon-tools fa-fw'></i> Admin</a>
  <ul class="right-submenu">
    <li class="back"><a href="#">Back</a></li>
    <%= render "layouts/navigation/admin" %>
  </ul>
</li>
