<li class="has-submenu"><a href="#"><i class='fa fa-user fa-fw'></i> Account</a>
  <ul class="right-submenu">
    <li class="back"><a href="#">Back</a></li>
    <%= render 'layouts/navigation/inactive' %>
  </ul>
</li>
