<li class="has-submenu"><a href="#"><i class='fa fa-black-tie fa-fw'></i> <%= t('.title') %></a>
  <ul class="right-submenu">
    <li class="back"><a href="#"><%= t('.back') %></a></li>
    <%= render "layouts/navigation/manage_stock" %>
  </ul>
</li>
