<li class="has-submenu"><a href="#"><i class='fa icon-database fa-fw' style='vertical-align: -8%;'></i> Stock</a>
  <ul class="right-submenu">
    <li class="back"><a href="#">Back</a></li>
    <%= render "layouts/navigation/stock" %>
  </ul>
</li>
