<ul class="no-bullet">
  <% if item.category? %><li><strong>Category:</strong> <%= item.category %></li><% end %>
  <% if item.weight? %><li><strong>Weight:</strong> <%= item.weight %></li><% end %>
</ul>
