<div id="form_placeholder">
  <fieldset>
    <div class="row inline text-right">
      <div class="small-12 columns">
        <label class="inline-label-flat">About</label>
      </div>
    </div>
    <strong>Faq me?</strong>
    <p>
      No... faq u!.
    </p>
  </fieldset>
</div>
