<div id="form_placeholder">
  <fieldset>
    <%= render 'entitybuilder/layouts/tutorial' %>
    <strong>What is movement?</strong>
    <p>
      Movements denote the different movement speeds of your characters and creatures.  Distance and measurement can be combined in any fashion to denote speed. 6 squares, 30 feet or even 10 meters.
    </p>
  </fieldset>
</div>

<% content_for :footer do %>
  <%= render 'layouts/modal/tutorial' %>
<% end %>
