<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'layouts/header',
      :locals => {
        :main => t("importer.admin.imports.index.title"),
        :icon => 'fa fa-upload',
        :add_link => main_app.new_admin_importer_preview_path,
        :can_auth => true
      }
    %>
    <hr class="faded">

    <%= render "importer/imports/history", imports: @imports, admin: true %>
  </div>
</div>
