<%= sanitize @page.full_description %>

<article class="sections">
  <% @page.sections.each do |section| %>
    <section class="<%= section.section_style %>">
      <%= render :partial =>'layouts/sections/looper',
          :locals => {
            :section => section,
            :record => @page,
            :all_pages => (@adventure.pages.block.order('sort_weight, name').to_a if section.section_style == 'blocks'),
            :resident => @resident,
            :can_auth => @adventure.can_edit?(current_user, admin_signed_in?, @parent_type),
            :edit_url => resident_adventure_page_sections_path(@adventure, @page, section: section)
        } %>
    </section>
  <% end %>
</article>
