<table class="sheet-table">
  <thead>
    <tr>
      <th class="text-center" colspan="3">Dice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= render 'entitybuilder/layouts/basic_dice/set' %>
      </td>
    </tr>
  </tbody>
</table>
