<div class="row">
  <div class="medium-12 columns" id="notables_form">
    <%= render 'activeplay/notables/form_list' %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <%= render 'activeplay/notables/about' %>
  </div>
</div>
