<% if @virtual_table_notables.size > 0 %>
  <label class="inline-label-flat right">
    Encounter
  </label>
  <% @virtual_table_notables.each do |notable| %>
    <%= render 'entitybuilder/entities/layouts/badge', notable: notable, entity: notable.entity, badge_color: '', isGM: @isGM %>
  <% end %>
<% end %>
