<div id="activeplay-list" class="ap-v1-campaign-panel">
  <ul class="tabs" data-tab role="tablist">
    <li class="tab-title active"><a href="#ap-panel-entity" class="ap-v1-campaign-tab" id="ap-panel-entity-link"><i class='fa fa-shield fa-fw'></i></a></li>
    <li class="tab-title"><a href="#ap-panel-initiative" class="ap-v1-campaign-tab" id="ap-panel-initiative-link"><i class="fa fa-list-ol fa-fw"></i></a></li>
  </ul>
  <div class="tabs-content">

    <section class="content active" id="ap-panel-entity">
      <div class="ap-scroll ap-scroll-col">
        <div id="cardholder_div"><%= render 'layouts/page_loading' %></div>
      </div>
    </section>

    <section class="content" id="ap-panel-initiative">
      <label class="inline-label-flat right">
        Initiative
      </label>
      <div class="ap-scroll ap-scroll-pri">
        <% if @isGM %>
          <ap-initiative-gm v-bind:initiative="initiative"></ap-initiative-gm>
        <% else %>
          <ap-initiative-player v-bind:initiative="initiative"></ap-initiative-player>
        <% end %>
      </div>
    </section>

  </div>
</div>

<% content_for :footer do %>
  <%= javascript_tag do %>
    <% if @my_character.present? %>
      eb_get_card('<%= "#{entitybuilder.polymorphic_path(@my_character)}" %>/card.js')
    <% else %>
      $('#cardholder_div').hide()
    <% end %>
  <% end %>
<% end %>
