<% provide(:title, 'Tabletop') %>
<% content_for :breadcrumb do %>
  <%=  breadcrumb [
    { "ActivePlay Beta" => nil }
  ] %>
<% end %>
<br>
<div class="row">
  <div class="medium-12 medium-centered columns text-center">

  <br><br>
  <%= image_tag 'tabletop/gamers.jpg' %>

  </div>
</div>
