<div id="form_placeholder">
  <fieldset>
    <%= render 'entitybuilder/layouts/tutorial' %>
    <strong>What are currencies?</strong>
    <p>
      Show me the money!.
    </p>
  </fieldset>
</div>

<% content_for :footer do %>
  <%= render 'layouts/modal/tutorial' %>
<% end %>
