/* Global fonts */
$body-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$brass-font-family: "Marcellus SC", serif;
$grace-font-family: "Covered By Your Grace", cursive;

/* Global colors */
// Colors
$color-primary: #c69633;
$color-secondary: #666;
$color-body-font: #444;
$color-c5: #c5c5c5;
$color-2b: #2b2b2b;
$color-3a: #3a3a3a;
