.go-top {
	position: fixed;
	bottom: 32px;
	left: 5px;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 5px 5px;
	display: none;
	i { 
		font-size: 14px;
	}
	a { color: white; }
}

.go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);
	a { color: #c69633; }
}