<div class="row">
  <div class="medium-10 medium-centered columns">
    <main>
      <h1><%= t("importer.imports.index.title") %></h1>
      <%= link_to t("importer.imports.index.new_preview"), new_preview_path %>
    </main>
  </div>
</div>
