<div class="row">
  <div class="medium-12 columns">
    <%= render :partial => 'layouts/header',
      :locals => {
        :main => t("importer.imports.index.title"),
        :icon => 'fa fa-upload',
        :add_link => new_preview_path,
        :can_auth => user_signed_in?
      }
    %>
    <hr class="faded">

    <%= render "importer/imports/history", imports: @imports, admin: false %>
  </div>
</div>
