<h2>Stats you select</h2>
<ul>
  <li>Level</li>
  <li>Role</li>
  <li>
    foo
  </li>
  <li>Group (minion/standard/elite/boss)</li>
</ul>

<h2>Monster stats</h2>
<ul>
  <li>Primary stat</li>
  <li>Secondary stat</li>
  <li>Armor class</li>
  <li>Fortitude</li>
  <li>Reflex</li>
  <li>Will</li>
  <li>Attack bonus vs AC</li>
  <li>Attack bonus vs SD</li>
  <li>Damage at-will</li>
  <li>Damage encounter</li>
  <li>Damage multi-target</li>
  <li>Damage brute</li>
  <li>Damage brute multi-target</li>
  <li>Damage minion</li>
  <li>Damage minion multi-target</li>
</ul>
