<div class="row" style="margin-top: 1rem;">
  <div class="medium-12 columns">
    <%= render :partial => 'layouts/header',
      :locals => {
        :icon => icon,
        :main => title,
        :add_link => add_path,
        :can_auth => @campaign.can_edit?(current_user, admin_signed_in?)
      }
    %>
    <% if pages.any? %>
      <% pages.each do |page| %>
        <% if page.can_show?(current_user, admin_signed_in?, page.type.demodulize) %>
          <%= render :partial => 'layouts/index_row',
            :locals => {
              :main => page.name,
              :sub => page.page_label,
              :description => page.short_description,
              :show_link => city_path(@campaign, page),
              :edit_link => edit_city_path(@campaign, page),
              :can_auth => @campaign.can_edit?(current_user, admin_signed_in?)
            }
          %>
        <% end %>
      <% end %>
    <% else %>
      <p class="subheader">No <%= title.downcase %> yet.</p>
    <% end %>
    <hr class="faded">
  </div>
</div>
