<div id="form_div">
<%= form_with model: [@campaign, @player], remote: true, html: {'data-no-transition-cache' => ''}, builder: ApplicationFormBuilder do |f| %>
  <fieldset>
    <%= f.association :affiliation, collection: @aff_list, :include_blank => true %>
  </fieldset>
  <%= render "layouts/form/save_and_cancel" %>
<% end %>
</div>
