<%= form_with model: @resident, url: admin_resident_update_path(@resident), local: false, html: {'data-no-transition-cache' => ''}, builder: ApplicationFormBuilder do |f| %>
  <fieldset>
    <div class="row">
      <div class="small-12 columns">
        <%= f.input :title %>
        <%= f.input :badges %>
      </div>
    </div>
  </fieldset>
  <%= render 'layouts/form/save' %>
<% end %>
