<div id="form_placeholder">
  <fieldset>
    <%= render 'entitybuilder/layouts/tutorial' %>
    <strong>What are base values?</strong>
    <p>
      Base Values are modifiers used by other elements of your character sheet. They must be system-configured to function, and they do not display on your sheet.
    </p>
  </fieldset>
</div>

<% content_for :footer do %>
  <%= render 'layouts/modal/tutorial' %>
<% end %>
