<footer>
  <div class="row full-width">
    <div class="medium-12 columns text-center">
      <span class="copy">
        &copy; 2018 Embers Design Studios, LLC (GPLv3). Modified by Etienne van Delden de la Haije <%= DateTime.now.year %>.
        | <a href="/scrolls/privacy_policy">Privacy Policy</a>
      </span>
    </div>
  </div>
</footer>
