<footer>
  <div class="row full-width">
    <div class="medium-12 columns text-center">
      <span class="copy">
        &copy; <%= t("layouts.footer.copyright_notice", year: DateTime.now.year) %>
        | <a href="/scrolls/privacy_policy"><%= t("layouts.footer.privacy_policy") %></a>
      </span>
    </div>
  </div>
</footer>
