<div id="<%= "#{modal_name}"%>_modal" class="reveal-modal <%= "#{modal_size}" %>" data-reveal>
  <div class="reveal-modal-scroll">
    <div id="<%= "#{modal_name}"%>_placeholder">
      <%= render 'layouts/page_loading' %>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
