<div id="outer-container">
  <div id="inner-container">
    <div id="centered-box">
      <span class="wrap">
        <i class="fa-spin fa-spin-reverse fa fa-cog"></i>
        <i class="fa-spin fa fa-cog"></i>
        <i class="fa-spin fa fa-cog"></i>
      </span>
    </div>
  </div>
</div>
