<div class='collapse'>
  <div class='rollbox text-center'>
    <div class='arrow-top'></div>
    <div class='arrow-top-border'></div>
    <h3 id="rollmsg"></h3>
    <h1 id="rollsults"></h1>
    <h4 id="rollmath"></h4>
  </div>
</div>
