<li><label class="text-right">Game Master</label></li>
<li><a href="/eb/admin/stock/creatures"><i class='fa fa-paw fa-fw'></i> Creatures</a></li>
<li><a href="/eb/admin/stock/npcs"><i class='fa fa-male fa-fw'></i> NPCs</a></li>
<li><label class="text-right">Rule Builder</label></li>
<li><a href="/rb/admin/stock/rules"><i class='fa fa-book fa-fw'></i> Rules</a></li>
<li><a href="/rb/admin/stock/spells"><i class='fa fa-magic fa-fw'></i> Spells</a></li>
<li><a href="/rb/admin/stock/items"><i class='fa icon-price-tag fa-fw'></i> Items</a></li>
<li><a href="/gallery/admin/stock/images"><i class='fa icon-images fa-fw'></i> Images</a></li>
