<li><label class="text-right">Game Master</label></li>
<li><a href="/sb/stock/adventures"><i class='fa icon-book fa-fw'></i> Adventures</a></li>
<li><a href="/eb/stock/creatures"><i class='fa fa-paw fa-fw'></i> Creatures</a></li>
<li><a href="/eb/stock/npcs"><i class='fa fa-male fa-fw'></i> NPCs</a></li>
<li><label class="text-right">Rule Builder</label></li>
<li><a href="/rb/stock/rules"><i class='fa fa-book fa-fw'></i> Rules</a></li>
<li><a href="/rb/stock/spells"><i class='fa fa-magic fa-fw'></i> Spells</a></li>
<li><a href="/rb/stock/items"><i class='fa icon-price-tag fa-fw'></i> Items</a></li>
<li><a href="/gallery/stock/images"><i class='fa icon-images fa-fw'></i> Images</a></li>
<li><a href="/gallery/map/images"><i class='fa icon-compass fa-fw'></i> Maps</a></li>
