<li><label class="text-right">Group</label></li>
<li><a href="/residents/<%= current_user.resident.slug %>/campaigns"><i class='fa fa-sitemap fa-fw'></i> Campaigns</a></li>
<li class="divider show-for-medium-up"></li>
<li><label class="text-right">Player</label></li>
<li><a href="/eb/resident/characters"><i class='fa fa-shield fa-fw'></i> Characters</a></li>
<li class="divider show-for-medium-up"></li>
<li><label class="text-right">Game Master</label></li>
<li><a href="/sb/resident/adventures"><i class='fa icon-book fa-fw'></i> Story Builder</a></li>
<li><a href="/residents/<%= current_user.resident.slug %>/districts"><i class='fa icon-globe fa-fw'></i> World Builder</a></li>
<li><a href="/eb/resident/creatures"><i class='fa fa-paw fa-fw'></i> Creatures</a></li>
<% unless current_user.is_free? %><li><a href="/eb/resident/npcs"><i class='fa fa-male fa-fw'></i> NPCs</a></li><% end %>
<li class="divider show-for-medium-up"></li>
<li><label class="text-right">Rule Builder</label></li>
<li><a href="/rb/resident/rules"><i class='fa fa-book fa-fw'></i> Rules</a></li>
<li><a href="/rb/resident/spells"><i class='fa fa-magic fa-fw'></i> Spells</a></li>
<li><a href="/rb/resident/items"><i class='fa icon-price-tag fa-fw'></i> Items</a></li>
<li><a href="/gallery/resident/images"><i class='fa icon-images fa-fw'></i> Images</a></li>
